/********************************************
/********************************************

	general html elements and helpers

/********************************************
/********************************************/

a {
	text-decoration: underline;
	color: $text-color;
	&:hover  { 
		color: $main-color; 
	}
}

strong { font-weight: 800; }
em { font-style: italic; }

q {
	&:before { content: "“"; }
	&:after { content: "”"; }
}

::-moz-selection {
	background: $main-color;
	color: #fff;
}

::selection {
	background: $main-color;
	color: #fff;
}


.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.outline { 
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}


/********************************************
/********************************************

	modules & containers


/********************************************
/********************************************/

.module {
	@include rhythm(0, 0, 0, 6);

	.main-text {
		width: 65%;
		margin: 0 auto;
	}

	.main-figure {
	//	height: rhythm(40);
		overflow:hidden;
		@include rhythm(0, 0, 0 , 2);
	}

}

.title {
	text-transform: uppercase;
	margin-bottom: rhythm(2);
	vertical-align: bottom;
	@include adjust-font-size-to(14px);
}
