/*********************************************
/*****************************

	Basic Grid settings

/*****************************
*********************************************/


$container-width: 700px;
$total-columns  : 12;
$column-width   : 130px;
$gutter-width   : 34px;
$grid-padding   : 20px;
$container-style: magic;

$show-grid-backgrounds: true;

/*********************************************
/*****************************

	Typography settings

/*****************************
*********************************************/

@import url(http://fonts.googleapis.com/css?family=Karla:400,700);


$the-font: 'Karla', 'Akkurat', 'Helvetica Neue', 'Arial', sans-serif;

$base-font-size: 14px;
$base-line-height: 11px;
