@mixin smooth {
	-webkit-font-smoothing: antialiased;
}

@mixin overflow-control {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin input-placeholder($color) {
  &.placeholder {
 	   color: $color; 
	}
  &:-moz-placeholder {
    	color: $color; 
	}
  &::-webkit-input-placeholder {
	    color: $color; 
	} 
}
