#menu {
	position: fixed;
	top: 0;	left: 0;
	z-index: 6;
	width: 100%;
	height: rhythm(6);
	padding-top: 0;
	background: $main-color;
	@include transition-property(background-color);
	@include transition-duration(0.8s);
	@include transition-timing-function(ease-in);

	ul {
		@include clearfix;
		width: 60%;
		margin: 0 auto;
		padding: rhythm(2) 0;
		border-bottom: 1px solid $text-color;
		@include box-sizing(border-box);
	}

	li {
		width: 20%;
		float: left;
		text-align: center;
		text-transform: uppercase;
		
		&:first-child {
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	a {
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid $text-color;
		}
	}


}
