#projects {
	@include clearfix;

	.project {
		width: 30%;
		margin-right: 5%;
		@include rhythm(0, 0, 0, 2);
		float: left;

		&:nth-child(3n) {
			margin-right: 0;
		}

	}

	.project-thumb {
		width: 100%
	}

	.project-head {
		position: relative;
		
		&:hover {
			.project-title {
				display: block
			}
		}
	}

	.project-title {
		width: 100%;
		height: 100%;
		background: #fff;
		text-transform: uppercase;
		text-align: center;
		position: absolute;
		z-index: 1;
		top: 0;
		padding-top: 28%;
		@include box-sizing(border-box);
		display: none;

		&:hover {
			color: $text-color;
		}
	}

}


