.project-mode {
	@include smooth;
	overflow: hidden;
	max-width: 100%;
	min-height: 100%;

	body {
		overflow: hidden;
	}
	
	#menu {
		background: transparent;
		a { color: #fff; }
	}
	
	#site-name {
		color: #fff;
	}
	
}

#overlay {
	position: fixed; z-index: 5;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	min-width: 100%;
	min-height: 100%;
	background: $text-color;
	padding-bottom: 16px;

	&.focus {
		z-index: 11
	}
}

#internal-padding {
	background: $text-color;
	height: 90%;
	overflow: hidden;
}

#slideshow {
	width: 85%;
	height: 100%;
	margin: rhythm(7) auto 0 auto;
	color: #fff;
	@include smooth;
	
	ul, li, .item {
		height: 100%;
		background: $text-color;
	}

	.main-figure {
		height: 75%;
		overflow: hidden; 
	}

	img {
		width: 120%;
		display: block;
		margin: 0 auto;
		float: left;
	}
	
	.main-text {
		text-align: center;
		width: 70%;
		padding: rhythm() 15%;
		text-transform: uppercase;
	}
	
	.nav-item {
		color: #fff;
		border-color: #fff;
		left: 0;
		bottom: 18%;

		&.next {
			right: 0;
			left: auto;
		}
	}


}

