#menu {
	position: fixed;
	top: 0;	left: 0;
	z-index: 6;
	width: 100%;
	height: rhythm(6);
	padding-top: 0;
	background: $main-color;

	ul {
		height: rhythm(6);
		width: 60%;
		margin: 0 auto;
		padding: rhythm(2) 0;
		border-bottom: 1px solid $text-color;
		@include box-sizing(border-box);
		position: relative;
	}

	li {
		width: 20%;
//		float: left;
		text-align: center;
		text-transform: uppercase;
		position: absolute;
		
		&.news { left: 0; text-align: left; }
		&.projects { left: 15% }
		&.process { left: 40% }
		&.about { left: 65% }
		&.contact { right: 0; text-align: right; }



	}

	a {
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid $text-color;
		}
	}


}
