#projects {
	@include clearfix;

	.project {
		width: 30%;
//		margin-right: rhythm(2.5);
//		@include rhythm(0, 0, 0, 2);
		margin-right: 5%;
		margin-bottom: 4%;
		float: left;

		&:nth-child(3n) {
			margin-right: 0;
		}

	}

	.project-thumb {
		width: 100%;
		height: auto;
	}

	.project-head {
		position: relative;
		
		&:hover {
			.project-title {
				display: block
			}
		}
	}

	.project-title {
		position: absolute;
		text-align: center;
		z-index: 1;
		top: 0;
		display: none;
		width: 100%;
		height: 100%;
		background: #fff;
		vertical-align: middle;

		p {
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			width: 95%;
		}

		&:before {
		  content: '';
		  display: inline-block;
		  height: 100%;
		  vertical-align: middle;
		  margin-right: -0.25em;
		}


		&:hover {
			color: $text-color;
		}
	}

}


