.project-mode {
	@include smooth;
	overflow: hidden;
	max-width: 100%;
	min-height: 100%;

	body {
		overflow: hidden;
	}
	
	#menu {
		background: transparent;
		a { color: #fff; }
	}
	
	#site-name {
		color: #fff;
	}
	
}

#overlay {
	position: fixed; z-index: 5;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	min-width: 100%;
	min-height: 100%;
	background: $text-color;
	padding-bottom: 16px;

	&.focus {
		z-index: 11
	}
}

#internal-padding {
	background: $text-color;
	height: 90%;
//	overflow: hidden;
}

#slideshow {
	width: 85%;
	height: 100%;
	max-height: 80%;
	margin: rhythm(7) auto 0 auto;
	color: #fff;
	@include smooth;
	
	ul, li, .item {
		height: auto;
		max-height: 70%;
		background: $text-color;
	}

	ul {
		height: auto;
		max-height: 100%;
		padding-bottom: 20px
	}

	.main-figure {
		height: 75%;
		overflow: hidden; 
	}


	.main-figure {
		
		&.vertical img {
			width: auto;
			max-height: 65%;
			margin: 0 auto;
			float: none;
			max-width: 30%;
		}

	}


	img {
		width: auto;
		max-height: 95%;
		display: block;
		margin: 0 auto;
	}
	
	.main-text {
		text-align: center;
		width: 70%;
		padding: rhythm() 15%;
		text-transform: uppercase;
	}
	
	.nav-item {
		color: #fff;
		border-color: #fff;
		left: 0;
		bottom: 0;

		&.next {
			right: 0;
			left: auto;
		}
	}

	.slide-counter {
		position: absolute;
		top: 0;
		right: 0;
	}


}

